<main>
    <div>
        <div class="product-container">
            {{#each products}}
            <div class="product">
                <h3>{{this._id}}</h3>
                <p>Cantidad: {{this.quantity}}</p>
                <hr>
            </div>
            {{/each}}

        </div>
        <div class="form-input">
        <button id="vaciar-carrito">Vaciar</button>
        </div>
    </div>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const vaciarCarritoButton = document.querySelector("#vaciar-carrito");
    vaciarCarritoButton.addEventListener("click", function(event) {
      event.preventDefault();
      const cid = "664bb4faa5bc7c5f3e9173b2";
      const url = `/api/cart/${cid}`;
      fetch(url, {
        method: "DELETE",
      })
     .then(response => {
        if (response.ok) {
          console.log("Carrito vaciado correctamente");
          location.reload()
        } else {
          console.log("Error al vaciar el carrito");
        }
      })
     .catch(error => {
        console.log("Error al realizar la petición", error);
      });
    });
  });
</script> 