<main>
  <div>
    <div class="product-container">
      {{#each products}}
      <div class="product">
        <h3>{{this._id}}</h3>
        <h3>{{this.title}}</h3>
        <p>Cantidad: {{this.quantity}}</p>
        {{!-- <p>Precio: {{this.product.price}}</p> --}}

        <hr>
      </div>
      {{/each}}

    </div>
    <div class="form-input">
      <button id="vaciar-carrito">Vaciar</button>
    </div>

    <a class="register" href="/products">Volver a la vista de productos</a>

  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const vaciarCarritoButton = document.querySelector("#vaciar-carrito");
    vaciarCarritoButton.addEventListener("click", function (event) {
      event.preventDefault();
      const cid = "664bb4faa5bc7c5f3e9173b2";
      const url = `/api/cart/${cid}`;

      fetch(url, {
        method: "DELETE",
      })
        .then(response => {
          if (response.ok) {
            Swal.fire({
              position: "top-end",
              title: 'Carrito vaciado correctamente',
              icon: 'success',
              showConfirmButton: false,
              timer: 2000
            })
              .then(() => {
                location.reload();
              });
          } else {
            console.log("Error al vaciar el carrito");
          }
        })
        .catch(error => {
          console.log("Error al realizar la petición", error);
        });
    });
  });
</script>