<main>
    <h1>LOGIN</h1>

    <form class="formulario-login" action="api/session/login" method="post">
        <label for="">Email</label>
        <input type="email" name="email">
        <label for="">Password</label>
        <input type="text" name="password" id="">
        <button>Enviar</button>

    </form>

    <h3>¿No tienes un usuario? </h3>
    <a class="register" href="/register">Registrate</a>

    <h3>¿Olvidaste tu contraseña? </h3>
    <a class="register" href="/api/session/restaurar">Restaurar</a>

    <div>
        <h3>Ingreso con Github</h3>
        <a class="register" href="/api/session/github">Github</a>
    </div>



</main>